@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(184, 180, 180)
}

main {
  background-color: white;
  width: 80vw;
  height: 100vh;
  margin: auto;
  margin-top: 70px;
}

.parte1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80vh;
}

.parte1 .botao {
  background-color: white;
  color: black;
  width: 130px;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;

}

/* Faz o card grande ocupar as duas linhas da esquerda */
.card.grande {
  grid-row: 1/3;
}

.card.grande img {
  filter: brightness(0.8);
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}


/* Necessário para o texto flutuar dentro dele */
.card {
  position: relative;
  overflow: hidden;
}

#foto-montanha img {
  object-fit: cover;
  object-position: top;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Garante que a foto preencha o espaço sem esticar */
  display: block;
}

/* Estilo do Texto Sobreposto */
.conteudo {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  color: white;
  width: 100%;
}

.conteudo h2, h3, p {
  text-shadow: 1px 1px 8px black;
}

.conteudo h2 {
  font-size: 30px;
  margin-bottom: 15px;
}